<div class="content-wrapper">
  <h1>About Me</h1>
  <div class="content">
    <p>I'm a software engineer based in Atlanta. The majority of my days are spent writing code at <a href="https://newstorycharity.org/" target="_blank">New Story</a>, a housing non-profit that is pioneering solutions to end global homelessness. Check out our Apple documentary film <a href="https://tv.apple.com/us/episode/mexico/umc.cmc.vw8qwc1j4ld8jr3itsc0b3wy" target="_blank">film where the world's first 3D-printed Community was created.</a> 
  </div>
</div>