<div>
  <header>
    <h1>Hi, I'm Tun</h1>
    <p>Software Engineer. Dad. Generalist.</p>
  </header>
        <p>&rarr;
        <%= link_to 'About', about_path %>, <%= link_to 'Articles', articles_path %>, <%= link_to 'Projects', projects_path %>
      </p>
</div>
