<% @description = "#{markdown(@project.content).gsub(%r{</?[^>]+?>}, '')[0...200]}..." %>

<div class="content-wrapper">
  <h2><%= @project.title %> <time class="code"><%= @project.description %></time></h2>
  <div class="content">
    <%= markdown(@project.content) %>
  </div>
</div>